<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @subject] do |f| %>
      <%= f.label :subject_name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
