<h1>Total Result of <%= current_user.name %></h1>
<table class = "table table-bordered table-hover">
  <thead>
    <tr>
      <th><h2>Subject</h2></th>
      <th><h2>Exam</h2></th>
      <th><h2>Score</h2></th>
    </tr>
  </thead>
  <tbody>
    <% @hash_score.each do |key, value| %>
    <tr>
      <td><%= value[:exam_name] %></td>
      <td><%= value[:subject_name] %></td>
      <td><%= value[:score] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
