.index-subject{
  th, td{
    text-align: center;
  }

  tr:nth-child(even){
    background:#e2e2e2;
  }

  thead tr{
    background: #3abf38db;
  }

  h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5;
  }
}

.user-subject{
  position: relative;
  margin-top: -20px;

  img{
    width: 100%;
    height: 615px;
    opacity: 0.6;
    filter: blur(2px);
  }

  .list-choose{
    position: absolute;
    top: 17%;
    left: 0%;
  }
}
